html, body {
	height: 100%;
	margin: 0px;
	text-align: justify;
}

.secao {
	padding: 2em;
}

textarea {
	resize: none;
}


/* Menu */
#conteudo-pagina {
	padding-left: 3em;
}

#menu {
	position: fixed;
	top: 0;
	left: -17.77em;
	height: 100%;
	z-index: 9999;
}

#menu ul {
	list-style: none;
}

#menu ul li{
	font-size: 1.2em;
	padding: 0.2em;
}

#menu ul li:hover{
	cursor: pointer;
	padding: 0.2em;
	border-radius: 0.3em;
}
#menu ul li:hover .glyphicon{
	-webkit-animation-name: rotateicon;
	-webkit-animation-duration: 5s;
	animation-name: rotateicon;
	animation-duration: 5s;
}

#menu .texto-menu-aberto {
	float: left;
	padding: 1em 1em 1em 0em;
	overflow: auto;
}

#menu .menuclick{
	cursor: pointer;
	position:relative;
	padding: 4.5em 0.2em 80em 0.2em;
}

#menu .glyphicon-play {
	font-size: 2.4em;
	float: top;
	padding: 1em 0.2em 1em 0em;
}

#menu h1{
	padding-left: 0.5em;
}
/* Fim Menu */


/* Post */

.post {
	margin-bottom: 2em;
}

/* Fim Post */

/* Cores Temporarias -- Remover ao fazer o estilo -- */
#menu {
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
}

#menu ul li:hover{
	background-color: rgba(255, 255, 255, 0.8);
	color: black;
}

#barra-funcionalidades {
	background-color: #111;
}

#rodape {
	background-color: #AAA;
}
/* Fim Cores Temporarias */

/* Animações: Sra Eu tenho tempo*/
@keyframes rotateicon{
	100%	{-webkit-transform: rotate(360deg);}
	100%	{-o-transform: rotate(360deg);}
	100%	{-ms-transform: rotate(360deg);}
	100%	{-moz-transform: rotate(360deg);}
	100%	{transform: rotate(360deg);}
}