html, body {
	height: 100%;
	margin: 0px;
	text-align: justify;
}

.secao {
	padding: 2em;
}

textarea {
	resize: none;
}


/* Menu */
#conteudo-pagina {
	padding-left: 3em;
}

#menu {
	position: fixed;
	top: 0;
	left: -15em;
	height: 100%;
	z-index: 9999;
}

#menu ul {
	list-style: none;
}

#menu .texto-menu-aberto {
	float: left;
	padding: 1em 1em 1em 0em;
	overflow: auto;
}

#menu .menuclick{
	cursor: pointer;
	position:relative;
	padding: 4.5em 0em 80em 0em;
}

#menu .glyphicon-play {
	font-size: 2.4em;
	float: top;
	padding: 1em 0.2em 1em 0em;
}

#menu h1{
	padding-left: 0.5em;
}
/* Fim Menu */

/* Menu de Atalhos */

#menu-atalhos ul li {
	list-style: none;
	display: inline-block;
	padding: 0.5em;
}

#menu-atalhos a, span {
	font-style: none;
	color: white;
}

#menu-atalhos span {
	padding: 0.5em;
}

#menu-atalhos .texto-menu-aberto {
	display: block;
}

#menu-atalhos .texto-menu-fechado {
	display: none;
	font-size: 1.5em;
	text-align: right;
}

#menu-atalhos .texto-menu-fechado span {
	cursor: pointer;
}

/* Fim Menu de Atalhos */


/* Post */

.post {
	margin-bottom: 2em;
}

/* Fim Post */

/* Cores Temporarias -- Remover ao fazer o estilo -- */
#menu {
	background-color: #666;
}

#barra-funcionalidades {
	background-color: #111;
}

#rodape {
	background-color: #AAA;
}
/* Fim Cores Temporarias */


/* Responsividade */

@media (max-width: 750px) {
	#menu-atalhos .texto-menu-fechado {
		display: block;
	}

	#menu-atalhos .texto-menu-aberto {
		display: none;
	}

	#menu-atalhos ul li {
	list-style: none;
	display: block;
	padding: 0.5em;
}

@media (min-width: 750px) {
	#menu-atalhos .texto-menu-aberto {
		display: block !important;
	}
}

/* Fim Responsividade */